@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
.App {
  font-family: 'Mate SC', serif;
  text-align: center;
  margin-top: 160px;
  color: #fff;
}

#input{
  padding: 3px 15px;
  width: 190px;
  margin: 1% 0;
}

#emoji{
  padding: 8px 7px;
  font-size: x-large;
}